@import "variables.less";

/* Base alert */
.alert-container {
    position: fixed;
    top: 20px;
    left: 50%; /* start off-screen */
    transform: translateX(-50%);
    width: auto;
    z-index: 99999;
    /*box-shadow: @box-shadow;*/
    
  
}

/* Entering */
.slide-enter-from {
  top: -100px;
  opacity: 0;
}
.slide-enter-active {
  transition: top 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
.slide-enter-to {
  top: 20px;
  opacity: 1;
}

/* Leaving */
.slide-leave-from {
  top: 20px;
  opacity: 1;
}
.slide-leave-active {
  transition: top 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
.slide-leave-to {
  top: -100px;
  opacity: 0;
}


.alert-wrapper {
    width: @min-width;
    height: auto;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background-color: var(--hero-background-color);
}

.alert-icon-container {
    width: 30px;

    & span {
        border: none;
    }
}

.alert-close-container {
    width: 30px;

    & .alert-close {
        border-radius: 100%;
        font-size: 1.2rem;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: var(--background-color);
            color: var(--text-color);
        }
    }
}

.alert-content {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: auto;
    padding: 0 0.25rem;
    text-align:center;

    & .alert-text {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    & button.btn.primary {
        margin-top: 0.25rem;
    }
}
