@import "variables.less";

.btn {
    width: auto;
    font-weight: 700;
    transition: all 0.25s ease;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.6rem;
    border-radius: 99999px;
    border-radius: 4px;
    text-transform: capitalize;
    color: var(--text-color);
    border: 1px solid transparent;
    text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.4);
    
    // Modifier: Has icon layout adjustment
    &--has-icon {
        column-gap: 0.25rem; // Controls spacing between icon and text
    }

    @media @smallDevice {
        font-size: 0.85rem;
    }

    @media @largeDevice {
        font-size: 0.9rem;
    }

    &--primary {
        background-color: inherit;
        border-color: var(--text-color);
        border-color:  @link-color;
        color:  @link-color;
       
        &:hover {
            background-color: var(--background-hover-color);
        }
        
    }

    &--secondary {
        background-color:  @link-color;
        color: @white-color;
        &:hover {
            background-color: @link-alt-color;
        }

        & svg{
            stroke-width: 2px;
        }
    }

    &--contrast {
       background-color: @link-color;
        border-color: transparent;
        color:@white-color;

        &:hover {
            background-color: @link-alt-color;
        }
    }
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.25rem;

    &.bordered {
         padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--border-color);
    }

    & .btn{
         min-width: 100px;
    }

}

.btn-holder {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid var(--border-color);

    & .btn{
        width: 100%;
    }
}
