@import "variables.less";

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 2px dotted @link-color;

  &__header{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 1.25rem;
  }

  &__title {
    font-size: 1.25rem;
    display: flex;
    align-items:center;
    column-gap: 0.25rem;

     @media @phone{
      font-size: 1rem;
    }
  }

  &__summary {
    margin-bottom: 1.25rem;
  }

  &__badge {
    font-size: 0.95rem;
    font-weight: 900;
    border-radius: 4px;
    letter-spacing: 0.03em;
    line-height: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items:center;
    justify-content:center;
    color: var(--background-color);

    &--gold {
      background-color: @gold-color;
    }

     &--silver {
      background-color: @silver-color;
    }

    &--bronze {
      background-color: @bronze-color;
    }

    &--number{
        background-color: var(--text-color);
    }
  }
  
  &__metrics {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.95rem;
     
    @media @phone{
      column-gap: 0.15rem;
    }
  }

  &__metric-link {
   display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

  }

  &__metric-value {
    font-weight: 700;
  }

  &__metric-label {
    font-weight: 400;
  }

}