@import "variables.less";

.content-x-card {
  width: 100%;
  height: auto;

  &--bordered {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.35;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  &__meta {
    color: var(--muted-text-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size:0.85rem;
  }

  
  &__summary {
    margin-bottom: 1rem;
    line-height: 1.5;
    color: var(--text-color);
  }

 &__link {
    display: flex;
  }

}