/*@font-family: 'Palatino Linotype';*/
/*@link-color: #0B2C4D;
@link-alt-color: #1F4467;

@link-color: #12A4E2;
@link-alt-color: #049BDD;*/
.content-lists {
  margin: 0 auto;
  position: relative;
  width: 750px;
  max-width: calc(100% - 20px);
  padding-bottom: 2rem;
}
.content-lists__card {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}
.content-lists__card-header {
  text-align: center;
  margin: 50px auto;
  width: 80%;
}
.content-lists__card-header .content-lists__metadata {
  justify-content: center;
}
.content-lists__title {
  font-size: clamp(1.4rem, 4vw, 2.6rem);
  line-height: clamp(1.8rem, 4vw, 3rem);
  text-transform: capitalize;
  margin: 0.5rem 0;
}
.content-lists__title.alt {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.content-lists__title:not(.alt) a,
.content-lists__title:not(.alt) button {
  font-weight: normal;
}
.content-lists__metadata {
  text-transform: capitalize;
  font-size: 0.9rem;
  color: var(--muted-text-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  /*  &:not(.alt) {
        margin-bottom: 0.5rem;
    }

    &.alt {
        margin-top: 0.5rem;
        justify-content: center;
    }*/
}
.content-lists__metadata svg {
  width: 20px;
  height: 20px;
}
.content-lists__metadata a,
.content-lists__metadata button {
  color: var(--text-color);
  font-weight: 600;
}
.content-lists__metadata a:hover,
.content-lists__metadata button:hover {
  color: var(--hover-color);
}
.content-lists__image {
  width: 100%;
  height: 250px;
  margin-bottom: 1rem;
  
}
.content-lists__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border: 3px solid var(--native-background-color);
}
@media only screen and (max-width : 768.98px) {
  .content-lists__image img {
    border-radius: 8px;
  }
}
@media only screen and (min-width : 769px) {
  .content-lists__image img {
    border-radius: 21px;
  }
}
.content-lists__summary {
  margin-bottom: 1rem;
}
.content-lists__summary button,
.content-lists__summary a {
  color: var(--text-color);
  font-weight: 600;
}
.content-lists__summary button:hover,
.content-lists__summary a:hover {
  color: var(--hover-color);
}
.content-lists__stats {
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;
}
.content-lists__stats p {
  display: flex;
  align-items: center;
}
.content-lists__stats p span {
  font-weight: 600;
  margin-right: 0.1rem;
}

.content-lists__actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 40px;

  &.alt{
    justify-content:flex-end;
  }
}

.content-lists__actions a,
.content-lists__actions button {
  display: inline-flex;
  height: 100%;
  align-items: center;
  font-size: 0.9rem;
  color: var(--text-color);
  font-weight: 600;
}
.content-lists__actions a:hover,
.content-lists__actions button:hover {
  color: var(--hover-color);
}
.content-lists__brief {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}