@import "variables.less";

.faq-lists {
    margin: 0 auto;
    position: relative;
    width: @mid-width;
    max-width: calc(100% - 20px);

    @media @smallDevice {
        padding: 30px 0;
    }

    @media @largeDevice {
        padding: 50px 0;
    }
}

.faq-lists__new-content {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
}

.faq-lists__card {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.faq-lists__header {
    /*border-bottom: 1px solid var(--border-color);*/
    display: flex;
    padding: 0.5rem 0;

    & button {
        font-size: 30px;

        &.btn.primary{
            
         @media @smallDevice {
        min-width: 44px;
    }

        }

        &:before {
            content: "+";
        }

        &.active {
            &:before {
                content: "-";
            }
        }

        &:hover {
            color: @link-color;
        }
    }

    & h2 {
        font-weight: 600;
        margin-left: 0.5rem;
    }
}

.faq-lists__contents {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease-out, opacity 0.8s ease-in;

    &.show {
        max-height: 1000px;
        opacity: 1;
    }
}

.faq-lists__contents-answer {
    padding: 0.5rem 0;
    /* 1. Skip paragraphs that are empty or only contain a <br> */
    & h1:not(:empty):first-of-type::first-letter,
    & p:not(:empty):first-of-type::first-letter,
    & div:not(:empty):first-of-type::first-letter {
        font-size: 1.5rem; /* Bold and Large */
        line-height: 1.8rem; /* Keeps the text flow tight */
        padding: 0 3px;
        font-family: 'Serif', Georgia, Times; /* Fiction looks best in Serif */
        font-weight: 600;
    }
    /* 2. Specialized fix for Quill's <p><br></p> structure */
    & p:has(br):first-child::first-letter {
        all: unset; /* Don't apply drop cap to a line break */
    }

    & h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 1.2;
        margin: 15px 0;
        text-align: left;
    }

    & p {
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }

        &:has(br:only-child) {
            margin-bottom: 0; /* Kill the margin for empty lines */
            line-height: 1; /* Collapse the height */
        }

        & > br {
            display: none;
        }
    }

    & b,
    & strong {
        font-weight: 600;
    }

    & i,
    & em {
        font-style: italic;
    }

    li {
        list-style-type: unset;
        padding-left: 0;
    }

    & ol {
        list-style: decimal;
    }

    & ul {
        list-style: square;
    }
}


.faq-lists__contents-date {
    padding: 0.25rem;
    font-style: italic;
    font-size: 0.85rem;
}

.faq-lists__contents-action {
    padding: 0.25rem 0;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.faq-lists__contents-action-buttons {
    display: flex;
    column-gap: 1rem;

}