@import "variables.less";

.form-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 2.5rem;
}

.form-message-contents {
    padding: 1rem 0;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom:1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px dotted var(--border-color);
    padding-top: 0.5rem;
    border-top: 2px dotted var(--border-color);

    & h3 {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    & button {
        margin-top: 0.5rem;
    }
}

.form-message-icon {
    font-size: 0.9rem;
    margin-right: 2px;
    border: none;
}
