@import "variables.less";

.form-container {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100%;
   
    & button.btn.btn--primary,
     & button.btn.btn--secondary {
        margin-top: 1.5rem;
        width: 100%;
        justify-content: center;
        z-index: 1;
         border-radius:unset;
      height: 4rem;
      text-transform:uppercase;

        &.active {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}
