@import "variables.less";

.form-container {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 100%;
   
     & button.btn.primary {
        margin-top: 0.5rem;
        width: 100%;
        justify-content: center;
        z-index: 1;

        &.active {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}
