@import "variables.less";

header.main-header {
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    //background-color: @header-background-color;
    //color: @white-color;
}

.main-header__wrapper {
    width: 100%;
    //transition: height 0.4s ease-out;
    transition: height 0.55s cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: auto;

    @media @smallDevice {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: 100vh;
    }

    &.state-neutral {

        @media @largeDevice {
            height: 65px;
        }
    }

    &.state-public-open,
    &.state-user-open {

        @media @smallDevice {
            height: auto;
        }

        @media @largeDevice {
            height: 115px;
        }
    }

    &.state-neutral .main-header__menu-container {
        @media @largeDevice {
            transform: translateY(-50px);
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    &.state-user-open .main-header__menu-container,
    &.state-public-open .main-header__menu-container {
        @media @smallDevice {
            max-height: 100lvh;
            overflow-y: auto;
        }
    }

    &.state-public-open .main-header__public-menu,
    &.state-user-open .main-header__user-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);

        @media @smallDevice {
            height: auto;
            padding: 2rem 0 1rem 0;
        }
    }
   
    &.state-user-open .main-header__public-menu,
    &.state-public-open .main-header__user-menu {
        transform: translateY(10px);
        opacity: 0;
    }
}

.main-header__top-navigation-container {
    width: 100%;
    background: var(--background-color);
    position: relative;
    z-index: 999;
     //background-color: @header-background-color;
    //color: @white-color;

    @media @smallDevice {
        height: 60px;
    }

     @media @phone {
        padding: 0 10px;
    }

     @media @phablet {
        padding: 0 30px;
    }

     @media @tablet {
        padding: 0 30px;
    }

    @media @largeDevice {
        height: 65px;
        padding: 0 10px;
    }
}

.main-header__top-navigation {
    max-width: @max-width;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-header__top-navigation-left {
    display: flex;
    align-items: center;
    width: calc(100% / 3);

    @media @smallDevice {
        column-gap: 1rem;
    }

    @media @largeDevice {
        column-gap: 0.5rem;
    }

    & svg {
        width: 28px;
        height: 28px;
            stroke-width: 2px;

        &.stroked {
            & path {
                stroke:  @white-color;
                
            }
        }
    }
}

.main-header__top-navigation-center {
    display: flex;
    justify-content: center;
    width: calc(100% / 3);
}

.main-header__top-navigation-right {
    display: flex;
    width: calc(100% / 3);
    justify-content: flex-end;

    @media @smallDevice {
        column-gap: 1rem;
    }

    @media @largeDevice {
        column-gap: 0.5rem;
    }

    & button {

        &.spin{
          

             @media @largeDevice {
         border: 1px solid var(--text-color);
            display: flex;
            column-gap: 0.25rem;
             background-color: var(--text-color);
        color: var(--native-background-color);
            padding: 0.25rem 0.5rem;
    }
        }

        &:not(.spin){
             & svg {
                width: 28px;
                height: 28px;
            }
        }

         & svg {
               
                //stroke: @white-color;
          stroke-width: 2px;
            }
 
        @media @smallDevice {
            border: none;
            padding: 0;
            background-color: transparent;
            min-width: unset;

            & span {
                display: none;
            }

           & svg {
                width: 28px;
                height: 28px;
            

            }

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.main-header__menu-container {
    width: 100%;
    background: var(--background-color);
    z-index: 998;
    transition: max-height 0.8s ease-in-out;
    transition: max-height 0.6s ease-out, opacity 0.8s ease-in;
    //border-top: 1px solid var(--border-color);
 background-color: @header-background-color;
    color: @white-color;

    @media @smallDevice {
        max-height: 0;
        overflow: hidden;
    }

    @media @largeDevice {
        height: 50px;
    }
}

.login-required-instruction {
    font-style: italic;
    width: 100%;
    display: flex;

    @media @smallDevice {
        flex-direction: column;
        row-gap: 0.2rem;
    }

    @media @largeDevice {
        justify-content: center;
        column-gap: 0.25rem;
    }

    & a {
        font-weight: normal;
        text-decoration: underline;
        height: auto;
        color:@white-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.main-header__menu {
    width: @mid-width;
    max-width: calc(100% - 20px);
    height: 100%;
    position: relative;
    margin: 0 auto;

    & nav {
        display: flex;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.4s;
        top: 0;
        left: 0;

        @media @smallDevice {
            flex-direction: column;
            height: 0;
            overflow: hidden;
        }

        @media @largeDevice {
            height: 100%;
            align-items: center;
            position: absolute;
            column-gap: 1.5rem;
            justify-content: center;
        }

        & a {
            transition: color 0.3s;
            display: flex;
            align-items: center;
            font-weight: 500;
            color: @white-color;
            font-family: Rubik, Rubik-bold-fallback, Arial, sans-serif;
            font-size: 1.1rem;

            &.router-link-exact-active,
            &.active {
                @media @smallDevice {
                    border-right-color: var(--text-color);
                }

                @media @largeDevice {
                    border-bottom-color: var(--text-color);
                    border-bottom-color: #007CBE;
                }
            }

            @media @largeDevice {
                height: 100%;
                border-bottom: 5px solid transparent;
            }

            @media @smallDevice {
                height: 60px;
                width: auto;
                border-right: 5px solid transparent;
            }
        }
    }
}


.hamburger {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    width: 28px;
    height: 28px;

    & div {
        width: 100%;
        height: 2px;
        background-color:  var(--text-color);
        transition: 0.4s;
    }

    &:hover {

        & div {
            background-color: #007CBE;
        }
    }
}

button.icon-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
        width: 28px;
        height: 28px;
    }
}

