@import "variables.less";

.hero-wrapper {
  width: 100%;
  height: auto;
  margin-top: -1px;
  margin-bottom: 2rem;
  padding: 2rem 0 3rem 0;
  background-color: @header-background-color;
  color: @white-color;
}

.hero {
  position: relative;
  width: @min-width;
  max-width: calc(100% - 20px);
  height: auto;
  margin: 0 auto;

  // Element: Logo and line divider header
  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__divider {
    flex-grow: 1;
    height: 1px;
    background-color: @white-color;
    border: none;
  }

  &__logo {
    width: 5rem;
    height: auto;
    padding: 0 1rem;
  }

  // Element: Main text wrapper
  &__content {
    width: 100%;
    margin: 0 auto;
  }

   &__title,
   &__tagline,
   &__description {
    margin-bottom: 1.5rem;
    text-align: center;
    //text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

 
  &__tagline {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;

    &-break {
      @media @phone, @phablet {
        display: block;
      }
    }
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.5rem;
  }

  &__description {
    font-weight: 600;
  }

  &__cta {
    display: flex;
    width: 100%;
    column-gap: 0.5rem;
  }

  &__action {
    width: 50%;
   
    &.btn--primary {
      background-color: @white-color;
      border-color: transparent;  

      &:hover {
        background-color: var(--background-hover-color);
      }
    }
  }
}