@import "variables.less";

.page-status-message {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
 
  &--bordered {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
  }

  &--standalone {
    margin: 1rem auto 0 auto;
    width: @mid-width;
    height: auto;
    max-width: calc(100% - 20px);
    padding: 1rem 0;
    border-bottom: 1px solid var(--border-color);
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
    stroke: var(--muted-text-color);
    fill: none;
  }

  &__body {
    flex-grow: 1;
  }

  &__title {
    font-weight: 600;
    margin: 0 0 0.25rem 0;
    letter-spacing: 0.1px;
  }

  &__text {
    font-size: 0.9rem;
    line-height: 1.4;
    color: var(--muted-text-color);
    margin: 0;
  }

  &__actions {
    width: 100%;
    padding-top: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}