@import "variables.less";

:deep(.rich-text) {

    *{
        font-family: @font-family;
        height: auto;
        word-wrap: break-word;
        width: 100%;
        color: var(--text-color);
        background-color: var(--background-color);
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: @base-font-size;
        line-height: @base-line-height;
    }
   
    & h1, h2, h3, h4, h5, h6 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        margin: 15px 0;
        text-align: left;
    }

    & div,
    & p {
        margin-top: 0.25rem;
        //font-size: 1.2rem;
        //line-height: 1.6rem;

        &:first-child {
            margin-top: 0;
        }

        &:has(br:only-child) {
            margin-bottom: 0; /* Kill the margin for empty lines */
            line-height: 1; /* Collapse the height */
        }

        & > br {
            display: none;
        }
    }

    & b,
    & strong {
        font-weight: 600;
    }

    & i,
    & em {
        font-style: italic;
    }

    li {
        padding-left: 0.75em;           
        text-indent: -0.75em;  
    }

    & ol {
        list-style: decimal;
        list-style-position: inside;
    }

    & ul {
        list-style: square;
        list-style-position: inside;
    }

   
}
