@import "variables.less";

.tag-lists__card {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.tag-lists__card-contents {
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   
}

.tag-lists__title {
    font-size: 1.2rem;
    line-height: 1.4rem;
    display: flex;
    align-items:center;
    column-gap: 0.5rem;
    
}
