@import "variables.less";

.tag-card {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 2px dotted @link-color;

  &__header{
    display: flex;
    width: 100%;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 1.25rem;
  }

  &__title {
      font-size: 1.25rem;

      @media @phone{
      font-size: 1rem;
    }
  }

  // --- Metrics ---
  &__metrics {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
    font-size: 0.95rem;
    
    @media @phone{
      column-gap: 0.15rem;
    }
  }

  &__metric-link {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;

  }

  &__metric-value {
    font-weight: 700;
  }

  &__metric-label {
    font-weight: 400;
  }
 
}