@import "variables.less";

@media (prefers-color-scheme: light) {
    :root {
        --background-color: @white-color;
        --native-background-color: @white-color;
        --light-background-color: #F9F9F9;
        --background-color: @white-color;

        --link-color: #175E81;
        --link-alt-color: #A6CFE3;

        --link-color: #4989A9;

        --text-color: @black-color;
        --hover-color: lighten(@black-color, 10%);
        --alt-hover-color: darken(@white-color, 25%);

        --background-hover-color: darken(@white-color, 5%);
        --alt-background-hover-color: lighten(@black-color, 10%);



        --box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
        --muted-text-color: #7A7979;
        --border-color: #B7B6BA;
        --border-color: #E5E5E5;
       
        --date-text-color: #4B4A4A;
        --modal-background-color: rgba(0, 0, 0, 0.08);
        --contrast-background-color: @black-color;
        --contrast-text-color: @white-color;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #090E18;
        --background-color: #0E111B;
        --background-color: #0A0D17;
        --background-color: #09080D;

        --native-background-color: @black-color;
        --light-background-color: #0E0D11;

         --link-color: #4989A9;
         --link-alt-color: #A6CFE3;

        --secondary-button-border-color: #121A2D;

        --box-shadow: rgba(255, 255, 255, 0.1) 0px 2px 4px 0px;
        --text-color: @white-color;
        --hover-color: darken(@white-color, 25%);
        --alt-hover-color: lighten(@black-color, 10%);

        --background-hover-color: lighten(@black-color, 10%);
        --alt-background-hover-color: darken(@white-color, 5%);



        --muted-text-color: #E5E6E7;
        --border-color: #152038;
        --border-color: #353536;
        --date-text-color: #AAA7B4;
        --modal-background-color: rgba(255, 255, 255, 0.08);
        --contrast-background-color: @white-color;
        --contrast-text-color: @white-color;
    }
}
