@import "variables.less";

.timeline-card {
  padding: 1.5rem 0.5rem;
  width: 100%;
  height: auto;
  border-bottom: 2px dotted var(--border-color);
 
  &__metadata {
    height: auto;
    display: flex;
    margin-bottom: 1rem;
    gap: 0.5rem;
    justify-content: space-between;

  }

  &__date {
    text-transform: capitalize;
    font-size: 0.9rem;
    //color: var(--muted-text-color);
  }

  &__type {
    text-transform: capitalize;
    font-size: 0.9rem;
   
    &:hover {
      color:var(--link-color);
    }

    /* Content-Type BEM Modifiers */
    &--account {
    color: #FFB300; /* vivid amber */
    }

    &--tale {
    color: #107C10; /* deep indigo */
    }

    &--comment {
    color: #E91E63; /* hot pink/magenta */
    }

    &--insight {
    color: #4CAF50; /* bright green */
    }

    &--support {
    color: #00BCD4; /* cyan */
    }

    &--writer {
    color: #9C27B0; /* purple */
    }

    &--role {
    color: #AD1457; /* orange-red */
    }

    &--engagement {
    color: #32ABA1; /* brown */
    }

  }

  &__body {
    font-size: 1.2rem;
    line-height: 1.6rem;

    button,
    a {
      font-weight: 600;

      &:hover {
        color: var(--hover-color);
      }
    }
  }
}