@font-family: "Gotham", sans-serif;
@font-family: 'Trebuchet MS';
/*@font-family: 'Palatino Linotype';*/
@font-family: "Cormorant Garamond";
@font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif;

@font-family: Rubik, Rubik-bold-fallback, Arial, sans-serif;
@font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

@font-family-serif: "Georgia", "Cambria", "Times New Roman", Times, serif;
@font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;


@base-font-size: 15px;
@base-line-height: 1.4rem;

@white-color: #FFFFFF;
@black-color: #000000;
@black-alt-color: rgba(0,0,0,0.5);

@header-background-color: #172562;
@header-background-color: #0D2D4D;

@form-text-color: #777777;

@link-color: #00A0EB;
@link-alt-color: #006FA4;

//@link-color: #0D2D4D;
//@link-alt-color: #031C34;

@red-color: #C9153A;
@red-alt-color: #DB3D5C;


@danger-color: #F44336;

@danger-color: #F8D7DA;
@warning-color: #FFF3CD;
@success-color: #D4EDD9;
@info-color: #D1ECF1;
@fatal-color: #F44336;


@box-shadow: 0 0 8px rgba(0,123,255,0.25);

@phone: ~ "only screen and (max-width : 619.98px)";
@phablet: ~ "only screen and (min-width: 620px) and (max-width: 768.98px)";
@tablet: ~ "only screen and (min-width: 769px) and (max-width: 990.98px)";
@laptop: ~ "only screen and (min-width: 991px) and (max-width: 1299.98px)";
@desktop: ~ "only screen and (min-width: 1300px)";

@smallDevice: ~ "only screen and (max-width : 990.98px)";
@largeDevice: ~ "only screen and (min-width : 991px)";

@shadow-color: rgba(0, 0, 0, 0.1);
@max-width: 1300px;
@mid-width: 750px;
@min-width: 450px;

.box-shadow(@x: 0, @y: 0, @blur: 5px, @color: @shadow-color) {
    box-shadow: @x @y @blur @color;
}


.transition(@property: all, @duration: 0.3s, @timing: ease) {
    transition: @property @duration @timing;
}
