@font-family: "Gotham", sans-serif;
@font-family: 'Trebuchet MS';
@font-family: -apple-system, Nunito, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
/*@font-family: 'Palatino Linotype';*/
@font-family: "Cormorant Garamond";
@font-family: Rubik, Rubik-bold-fallback, Arial, sans-serif;
@font-family: TNYAdobeCaslonPro, Times New Roman, Times, serif;

@base-font-size: 18px;
@base-line-height: 1.3rem;

@white-color: #FFFFFF;
@black-color: #000000;
@black-alt-color: rgba(0,0,0,0.5);

@header-background-color: #0D2D4D;
@header-background-color: #172562;
@header-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

@form-text-color: #777777;

@link-color: #036792;
@link-alt-color: #12A4E2;

@link-color: #214567;
@link-alt-color: #3C5F81;

/*@link-color: #0B2C4D;
@link-alt-color: #1F4467;

@link-color: #12A4E2;
@link-alt-color: #049BDD;*/

@link-color: #1B3BE3;
@link-alt-color: #3F59EA;

@link-color:#214567;
@link-alt-color: #3C5F81;

@red-color: #C9153A;
@red-alt-color: #DB3D5C;


@danger-color: #F44336;

@danger-color: #F8D7DA;
@warning-color: #FFF3CD;
@success-color: #D4EDD9;
@info-color: #D1ECF1;
@fatal-color: #F44336;


@box-shadow: 0 0 8px rgba(0,123,255,0.25);

@phone: ~ "only screen and (max-width : 619.98px)";
@phablet: ~ "only screen and (min-width: 620px) and (max-width: 768.98px)";
@tablet: ~ "only screen and (min-width: 769px) and (max-width: 990.98px)";
@laptop: ~ "only screen and (min-width: 991px) and (max-width: 1299.98px)";
@desktop: ~ "only screen and (min-width: 1300px)";

@smallDevice: ~ "only screen and (max-width : 768.98px)";
@largeDevice: ~ "only screen and (min-width : 769px)";

@shadow-color: rgba(0, 0, 0, 0.1);
@max-width: 1300px;
@mid-width: 750px;
@min-width: 450px;

.box-shadow(@x: 0, @y: 0, @blur: 5px, @color: @shadow-color) {
    box-shadow: @x @y @blur @color;
}


.transition(@property: all, @duration: 0.3s, @timing: ease) {
    transition: @property @duration @timing;
}

@background-color: @white-color;
@hero-background-color: #F8F8F8;
@text-color: @black-color;
@muted-text-color: #080614;
@border-color: #E0E0E0;
@border-color: #D3D3D3;
@skeleton-shimmer-color: @white-color;
@skeleton-background-color: #E9E9E8;
@loading-background-color: rgba(255,255,255,0.5);
@date-text-color: #4B4A4A;
@modal-background-color: rgba(0, 0, 0, 0.08);
