@import "variables.less";

.vote-card {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__username {
   
   
  }

  &__date {
    font-size: 0.9rem;
    color: var(--muted-text-color);
    white-space: nowrap;
  }
}