.votes-list__card {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.votes-list__content {
  text-transform: capitalize;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.votes-list__date {
  font-size: 0.9rem;
  color: var(--muted-text-color);
}
