@import "variables.less";

.writer-onboarding{
    width: 100%;
    
&__instruction{
    margin-bottom: 0.5rem;
    font-style: italic;

}

    &__actions{
        width: 100%;
        margin-top: 1rem;

        
  & .btn.btn--secondary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 1;
      //border-radius:unset;
      height: 4rem;
      text-transform:uppercase;
      
      &.active {
        opacity: 0.6;
        pointer-events: none;
      }
    }
    }

    &__items{
        list-style: decimal;
        list-style-position: inside;
        margin-bottom: 0.5rem;
            li {
                padding-left: 0.5em;           
                text-indent: -0.5em;  
            }
}

}
