@import "variables.less";

.writer-onboarding__instruction{
    margin-bottom: 0.5rem;
    font-style: italic;
}

.writer-onboarding__items{
 list-style: decimal;
 list-style-position: inside;
 margin-bottom: 0.5rem;
    li {
        padding-left: 0.5em;           
        text-indent: -0.5em;  
    }
}
