@import "variables.less";

.water-onboarding{
    width: 100%;
    
&__instruction{
    margin-bottom: 0.5rem;
    font-style: italic;

}

    &__items{
        list-style: decimal;
        list-style-position: inside;
        margin-bottom: 0.5rem;
            li {
                padding-left: 0.5em;           
                text-indent: -0.5em;  
            }
}

}
